<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (1.3.9)

In [2]:
pip install ipython-sql

Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlparse
  Using cached sqlparse-0.4.4-py3-none-any.whl (41 kB)
Collecting prettytable
  Using cached prettytable-3.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: ipython in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython-sql) (8.12.2)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.21-cp38-cp38-macosx_11_0_arm64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 3.9 MB/s eta 0:00:00a 0:00:01m
Requirement already satisfied: six in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: appnope in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: traitlets>=5 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: matplotlib-inline in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pexpect>4.3 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: backcall in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pygments>=2.4.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: wcwidth in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.21 sqlparse-0.4.4
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade ipython

Requirement already satisfied: ipython in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (8.12.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (3.0.38)
Requirement already satisfied: stack-data in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (0.6.2)
Requirement already satisfied: appnope in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (0.1.3)
Requirement already satisfied: pygments>=2.4.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (2.14.0)
Requirement already satisfied: pexpect>4.3 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (4.8.0)
Requirement already satisfied: matplotlib-inline in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (0.1.6)
Requirement already satisfied: decorator in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (5.1.1)
Requirement already satisfied: pickleshare in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (0.7.5)
Requirement already satisfied: traitlets>=5 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (5.9.0)
Requirement already satisfied: backcall in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied: typing-extensions in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (4.4.0)
Requirement already satisfied: jedi>=0.16 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from ipython) (0.18.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython) (0.2.6)
Requirement already satisfied: asttokens>=2.1.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from stack-data->ipython) (2.2.1)
Requirement already satisfied: pure-eval in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from stack-data->ipython) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from stack-data->ipython) (1.2.0)
Requirement already satisfied: six in /Users/yujiewang/anaconda3/envs/Condabase/lib/python3.8/site-packages (from asttokens>=2.1.0->stack-data->ipython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

^C
ERROR: Operation cancelled by user

In [3]:
%sql sqlite:///my_data1.db

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [5]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [7]:
%sql select * from SPACEXTABLE limit 5

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [32]:
%sql select DISTINCT(Launch_Site) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%sql select * from SPACEXTABLE where Launch_Site LIKE 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [15]:
%sql select distinct(Landing_Outcome) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
%%sql
select sum(PAYLOAD_MASS__KG_) from SPACEXTABLE where Customer LIKE "NASA%CRS%"

 * sqlite:///my_data1.db
Done.

[(48213,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [14]:
%%sql
select avg(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version LIKE "F9 v1.1%"

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [17]:
%%sql

select min(Date) from SPACEXTABLE where Landing_Outcome LIKE "Success%ground pad%"

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [18]:
%%sql

select Booster_Version from SPACEXTABLE 
where PAYLOAD_MASS__KG_>4000 AND PAYLOAD_MASS__KG_<6000 AND Landing_Outcome LIKE "Success%drone ship%"

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [20]:
%%sql

select Mission_Outcome,count(Mission_Outcome) from SPACEXTABLE group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [21]:
%%sql

select Booster_Version from SPACEXTABLE 
where PAYLOAD_MASS__KG_ = (select min(PAYLOAD_MASS__KG_) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003',), ('F9 v1.0  B0004',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [28]:
%%sql

select substr(Date,4,2) AS month_names, Landing_Outcome, Booster_Version, Launch_Site
from SPACEXTABLE
where substr(Date, 7, 4) ='2015' and Landing_Outcome LIKE "%Failure%drone ship%"

 * sqlite:///my_data1.db
Done.

[]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [30]:
%%sql

select Landing_Outcome, count(Landing_Outcome) as count_of_outcomes from SPACEXTABLE
where Date BETWEEN '2010-06-04' AND '2017-03-20'
group by Landing_Outcome
ORDER by count_of_outcomes DESC

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (ground pad)', 5),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1),
 ('Failure (parachute)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>